.chat-main
  .chat-main__group-info
    .chat-main__group-info__name-box
      %p.group-name
        = @group.name
      %p.group-member
        = "Member : "
        - @group.group_users.each do |member| 
          = member.user.name
    .chat-main__group-info__edit-box
      =link_to edit_group_path(@group) , class: "edit-btn" do
        .edit-btn-box
          Edit
  .chat-main__message-list
    = render @messages
    
  .chat-main__message-form
    .post-form__box
      = form_for [@group, @message] do |f|
        = f.text_field :body, class: 'post-form__box__text', placeholder: 'type a message'
        .post-form__box__image
          = f.label :image, class: 'post-form__box__image__label' do
            = icon('fas', 'image')
            = f.file_field :image, class: 'post-form__box__image__label__field'
        = f.submit 'Send', class: 'post-form__box__post-btn'