.chat-main
  .chat-main__group-info
    .chat-main__group-info__name-box
      %p.group-name
        test
      %p.group-member
        Member：tamaru
    .chat-main__group-info__edit-box
      =link_to "#", class: "edit-btn" do
        .edit-btn-box
          Edit
  .chat-main__message-list
    .chat-main__message-list__box
      .chat-main__message-list__box__name
        %p.member-name
          tamaru
        %p.post-date
          2019/12/01(Sun) 17:20:30
      %p.chat-main__message-list__box__comment
        おはよう！
    .chat-main__message-list__box
      .chat-main__message-list__box__name
        %p.member-name
          tamaru
        %p.post-date
          2019/12/01(Sun) 17:20:30
      %p.chat-main__message-list__box__comment
        おはよう！
  .chat-main__message-form
    .post-form__box
      = form_for [@group, @message] do |f|
        = f.text_field :body, class: 'post-form__box__text', placeholder: 'type a message'
        .post-form__box__image
          = f.label :image, class: 'post-form__box__image__label' do
            = icon('fas', 'image')
            = f.file_field :image, class: 'post-form__box__image__label__field'
        = f.submit 'Send', class: 'post-form__box__post-btn'